#formSection{
    background-color: #94D3AC;
    padding-bottom: 50px;

    .title{
        font-size: 50px;
        font-weight: bolder;
        width: fit-content;
        background: linear-gradient(#94D3AC, #94D3AC) padding-box,
        linear-gradient(to right, transparent, #EFFCEF, transparent) border-box;
        border-bottom: 4px solid transparent;
        border-radius: 1px;
        position: relative;
        margin-top: 80px;
    }

    .form{
        border: 2px solid white;
        width: 70%;
        margin: auto;
        border-radius: 20px;

        .formContainer{
            padding: 20px;
            background-color: #EFFCEF;
            border-radius: 15px;

            input{
                width: 45%;
                border: 2px solid #94D3AC;
                border-style:groove;
                border-radius: 5px;
            }

            textarea{
                border: 2px solid #94D3AC;
                border-style:groove;
                width: 45%;
                border-radius: 5px;
            }

            .buttonForm{
                background-color: #CCEDD2;
                border-radius: 7px;
                width: 140px;
                height: 50px;
                transition: all 0.3s;
                margin-top: 10px;
                border: 2px solid #94D3AC;
                border-style:groove;
            }

            .buttonForm:hover{
                transform: scale(1.04);
            }

            .label{
                font-size: 25px;
            }

            .name , .email {
                height: 30px;
            }
        }
    }
}

.textError{
    position: absolute;
    font-size: medium;
    color: red;
    padding-left: 5px;
}