#Navbar{
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #effcefc4;

    .navbarContainer{
        margin: 0;
        padding: 22px 0px;

        .logoContainer{
            width: fit-content;
            padding-left: 25px;
        
            .logo{
                width: 80px;
            }
        }

        .nameContainer{
            width: fit-content;
        
            p{
                padding-left: 20px;
                margin: 0%;
                padding-top: 2px;
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s;
}

            p:hover{
                color: #94D3AC;
            }
        }

        .navigation{

             .navList{

                padding-top: 2px;
                margin: 0;
                padding-right: 50px;

                li{
                    list-style: none;
                    padding-right: 20px;

                    a{
                        text-decoration: none;
                        color: #655C56;
                        transition: all 0.4s;
                        -webkit-transition: all 0.4s;
                        -moz-transition: all 0.4s;
                        -ms-transition: all 0.4s;
                        -o-transition: all 0.4s;
                        position: relative;
                    }

                    
                    a:hover{
                        color: #94D3AC;
                    }

                    a::before , a::after{
                        content: "";
                        border-bottom: 2px solid #94D3AC;
                        position: absolute;
                        transition: all 0.2s;
                        opacity: 0;
                    }

                    a::before{
                        bottom: -1px;
                        left: 0;
                        width: 90%;
                    }

                    a::after{
                        bottom: -5px;
                        right: 0;
                        width: 60%;
                    }

                    .active::before,
                    a:hover::before{
                        opacity: 1;
                        width: 70%;
                    }

                    .active::after,
                    a:hover::after{
                        opacity: 1;
                        width: 40%;
                    }
                }
            }
        }
    }
}
