#Proyectos{
    width: 100%;

    .proyectosTitle{
        padding-top: 30px;
        font-size: 50px;
        margin-bottom: 60px;
        font-weight: bolder;
        position: relative;
        width: fit-content;
        background: linear-gradient(#EFFCEF, #EFFCEF) padding-box,
        linear-gradient(to right, transparent, #94D3AC, transparent) border-box;
        border-bottom: 4px solid transparent;
        border-radius: 1px;
    }

    .pokedexContainer{
        width: fit-content;
    }

    .imgProyect{
        width: 80%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
}

    .imgProyect:hover{
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.50);
}

    .proyectTitle{
        text-align: center;
        margin-top: 0;
        position: relative;
        width: fit-content;
    }

    .proyectTitle::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all 0.5s;
        border-bottom: 2px solid #94D3AC;
        opacity: 0;
        width: 0%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

    .proyectTitle:hover::before{
        opacity: 1;
        width: 100%;
    }

    .textProyect{
        font-size: 22px;
        text-align: center;
    }

    .buttonProbar, .buttonCodigo{
        background-color: #CCEDD2;
        border: 1px;
        margin-left: 20px;
        padding: 15px;
        border-radius: 10px;
        transition: all 0.3s;
        border: 2px solid #94D3AC;
        border-style:groove;
        
        &:hover{
            transform: scale(1.03);
            -webkit-transform: scale(1.03);
            -moz-transform: scale(1.03);
            -ms-transform: scale(1.03);
            -o-transform: scale(1.03);
        }
    }
}