@import "./Conf/normalizer";

//Components
@import "./Components/navbar.scss";
@import "./Components/home.scss";
@import "./Components/proyectos.scss";
@import "./Components/form.scss";
@import "./Components/skills.scss";
@import "./Components/footer.scss";


body{
    font-family: 'Quicksand Book', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: #EFFCEF;

    p::selection , h1::selection , span::selection , br::selection , img::selection , 
    label::selection , input::selection , button::selection , textarea::selection{
        background: transparent;
    }
}

*{
    box-sizing: border-box;
    color: #655C56;
}
